{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "2.1.1"}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.1"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "0.13.3"}}
        ]}.

{erl_opts, [debug_info, warn_shadow_vars, warn_obsolete_guard,
            warn_unused_import, 
            {parse_transform, lager_transform}]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
